header {
  background: #111;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-wrap: wrap; /* IMPORTANT */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* NAV FIX */
nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap; /* prevents breaking */
   justify-content: flex-end;
}

.content {
  padding: 2rem;
  text-align: center;

  /* ADD THESE 👇 */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 0;
}

nav ul li a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    margin-top: 10px;
    justify-content: center;
  }
}
